body{
background-color: #efecec;
}

.info{
	margin-top: 50px;
}

.heading{
	padding-left: 40%;
}

#textid{
	padding-left: 15px;
	margin: 10px;
	color: #0095B6;
}

.scoreContainer{

    width: 90px;
    height: 90px;
    margin-top: 0px;	
}

#runsContainer{
  margin: 20px;
  width: 90px;
  height: 90px;
  position: relative;
  float: left;
}

#full_page{
	padding: 20px;
	background-color: #efecec;
	width: 1000px;
	height: 765px	;
	margin: auto;
}
#header{
	margin-bottom: 10px;
}
#header_top{
	padding: 1px 0px 5px 20px;
    margin-bottom: 10px;
    background-color: white;
    border: groove;
    width: inherit;
    height: 80px;
    
}
#header_bottom{

	
}
#biodata{
	padding: 1px 0px 5px 20px;
    margin-bottom: 10px;
    background-color: white;
    border: groove;
	width: 30%;
	height: 300px;
	float: left;
}
#pic{
	
    margin-bottom: 10px;
    background-color: white;
    border: groove;
	margin-left: 10px;
	width: 32%;
	height: 305px;
	float:left;
}
#career{
	padding: 1px 0px 5px 20px;
    margin-bottom: 10px;
    background-color: white;
    border: groove;
	margin-left: 10px;
	width: 30%;
	height: 300px;
	float:left;
}
#first_type_graphs{
	margin-top: 10px;
	height: 300px;
}
#graph1{
    margin-top: inherit;
    padding: 0px 20px 20px 20px;
    background-color: white;
    border: groove;
    width: 45%;
    height: inherit;
    float: left;
}
#graph2{
    margin-top: inherit;
    margin-left: 6px;
    padding: 0px 20px 20px 20px;
    background-color: white;
    border: groove;
    width: 45%;
    height: inherit;
    float: left;
}
