body{
background-color: #efecec;
}
#textid{
	padding-left: 10px;
	margin: 10px;
	color: #0095B6;
}

#scoreContainer2{
	border: 1px solid black;
    width: 90px;
    height: 90px;
    margin-top: 0px;	
}

#runsContainer{
  margin: 20px;
  width: 90px;
  height: 90px;
  position: relative;
  float: left;
}

#full_page{
	padding: 20px;
	background-color: #efecec;
	width: 1000px;
	height: 1100px	;
	margin: auto;
}
#header{
	margin-bottom: 10px;
}
#header_top{
	padding: 1px 0px 5px 20px;
    margin-bottom: 10px;
    background-color: white;
    border: groove;
    width: inherit;
    height: 80px;
    
}
#header_bottom{

	
}
#biodata{
	padding: 1px 0px 5px 20px;
    margin-bottom: 10px;
    background-color: white;
    border: groove;
	width: 30%;
	height: 300px;
	float: left;
}
#pic{
	padding: 1px 0px 5px 20px;
    margin-bottom: 10px;
    background-color: white;
    border: groove;
	margin-left: 10px;
	width: 30%;
	height: 300px;
	float:left;
}
#career{
	padding: 1px 0px 5px 20px;
    margin-bottom: 10px;
    background-color: white;
    border: groove;
	margin-left: 10px;
	width: 30%;
	height: 300px;
	float:left;
}
#first_type_graphs{
	margin-top: 10px;
	height: 300px;
}
#graph1{
    margin-top: inherit;
    padding: 0px 20px 20px 20px;
    background-color: white;
    border: groove;
    width: 45%;
    height: inherit;
    float: left;
}
#graph2{
    margin-top: inherit;
    padding: 0px 20px 20px 20px;
    background-color: white;
    border: groove;
    width: 45%;
    height: inherit;
    float: left;
}
#second_type_graph{
	margin-top: 10px;
	height: 300px;
}